<div class="app">
  <div class="user-container">
    <div class="user-header">Log in to your account</div>

    <form action="<%= session_url %>" method="post">
        <%= render "shared/form_auth_token" %>

        <label>Email
          <input type="text" name="user[email]" placeholder="Email address">
        </label>
        <br>

        <label>Password
          <input type="password" name="user[password]">
        </label>
        <br>

        <input type="submit" value="Sign In">
    </form>
  </div>
</div>
