<div class="user-form">
  <h2>Register</h2>

  <form action="<%= users_url %>" method="post">
      <%= render "shared/form_auth_token"  %>

      <label>Email
        <input type="text" name="user[email]">
      </label>
      <br>

      <label>Name
        <input type="text" name="user[name]">
      </label>
      <br>

      <label>Password
        <input type="password" name="user[password]">
      </label>
      <br>

      <input type="submit" value="Register">
  </form>
</div>
