<div id="navbar">

  <ul>
    <li class="greeting">
      <% if current_user %>
        Hello, <%= current_user.name %>
    </li>
    <li class="align-right">
      <a href='/session' rel="nofollow" data-method="delete">Sign Out</a>
    </li>
  </ul>
  <% else %>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/session/new">Sign In</a></li>
    <li><a href="/users/new">Register</a></li>
  </ul>
  <% end %>
</div>
