/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";

 #cssmenu {
   background: #7ca6bd;
   width: auto;
 }

 #cssmenu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height: 1;
   display: block;
   zoom: 1;
 }

 #cssmenu ul li {
   display: inline-block;
   padding: 0;
   margin: 0;
 }

 #cssmenu ul li a {
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 14px;
   position: relative;
   padding: 10px 10px;
   display: block;
 }

 #cssmenu ul li a:hover {
   background: #406C7A;
 }

 .alight-right {
   float: right;
 }

 .greeting {
   position: relative;
   text-transform: uppercase;
   font-size: 14px;
   padding: 10px 10px 10px 10px;
   display: block;
 }

.map {
  max-width: 700px;
  height: 500px;
  // margin: 0 auto;
}

.half {
  max-width: 700px;
  overflow: hidden;
}

.filters {
  width: 400px;
  float: left;
}

.listing-index {
  width: 200px;
  float: left;
}

.listing {

}

.filter-slider {
  position: relative;
  padding: 10px 30px;
}
