/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";

 #navbar {
   background: #7ca6bd;
   width: auto;
 }

 #navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height: 1;
   display: block;
   zoom: 1;
 }

 #navbar ul li {
   display: inline-block;
   padding: 0;
   margin: 0;
 }

 #navbar ul li a {
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 14px;
   position: relative;
   padding: 10px 10px;
   display: block;
 }

 #navbar ul li a:hover {
   background: #406C7A;
 }

 .alight-right {
   float: right;
 }

 .greeting {
   position: relative;
   text-transform: uppercase;
   font-size: 14px;
   padding: 10px 10px 10px 10px;
   display: block;
 }

.app {
  width: 100%;
}

.map {
  width: 100%;
  height: 500px;
}

.half {
  max-width: 700px;
  overflow: hidden;
}

.listing-index {
  width: 200px;
  float: left;
}

.listing {
  margin: 20px;
}

.listing-header {
  font-size: 24px;
  font-weight: 400;
}

.listing-address {
  font-weight: 400;
}

.listing-description {
  font-weight: 300;
}

.listing-details {
  font-size: 16px;
  font-weight: 400;
  width: auto;
}

.listing-details ul {
  list-style-type: none;
  padding: 5px 0px;
}

.listing-details ul li {
  padding: 5px;
  font-size: 10px;
  font-weight: 300;
  background-color: #f1f1f1;
  text-align: right;
}

.listing-details li.even {
  background-color: #fafafa;
}

.listing-details li .header {
  display: inline;
  float: left;
  font-weight: 400;
}


.filter-container {
  margin: 20px;
  width: 300px;
  float: left;
}

.filter-label {
  font-size: 12px;
  font-weight: 600;
}

.filter-range {
  font-size: 12px;
  font-weight: 300;
  margin: 2px;
}

.filter-slider {
  padding: 10px;
}

.filter-checkbox {
  float: left;
  font-size: 12px;
  font-weight: 300;
  margin: 2px;
}
